.container {
    text-align: center;
    background-color: #111;
    padding: 20px;
    margin-bottom: 5px;
}

.head {
    font-family: 'Futura Std', sans-serif;
    font-size: 60px;
    font-weight: 750;
    line-height: 72px;
    letter-spacing: 0.05em;
    text-align: center;
    margin: 0 0 20px 0;
    color: #D2A164;
    width: 1260px;
}

.list {
    padding: 0;
    list-style-type: none; /* Remove default numbering */
    text-align: left;
    margin: 0 auto;
    max-width: 800px;
    counter-reset: item; /* Initialize counter */
    color: #fff;
}

.paragraph {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 44.8px;
    margin: 20px 0;
    position: relative;
    padding-left: 40px; /* Space for the number */
}

.paragraph::before {
    content: counter(item) ".";
    counter-increment: item; /* Increment counter */
    position: absolute;
    left: 0;
    top: 0;
    font-size: 32px;
    line-height: 44.8px;
    color: #D2A164; /* Number color */
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
